@model BookManagement.Models.Books

@{
    ViewBag.Title = "BookData";
}

<h2 style="font-family:Microsoft JhengHei;">圖書明細</h2>

<table>
	<tr>
		<td style="text-align:right;">書名</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">作者</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">出版社</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">內容簡介</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">購買日期</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">圖書類別</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">借閱人</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align:right;">借閱狀態</td>
		<td></td>
	</tr>
</table>


<div>
	<button type="button">返回</button>
	<button type="button">修改</button>
	<button type="button">查詢借閱紀錄</button>
	
</div>
